---
import { getEntry, render } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import BaseBody from "../layouts/BaseBody.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const me = await getEntry("pages", "me");

if (!me) {
	throw new Error("Missing src/content/pages/me.mdx");
}

const { Content } = await render(me);
const title = me.data.title ?? SITE_TITLE;
const description = me.data.description ?? SITE_DESCRIPTION;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<BaseBody
		bodyClass="antialiased tracking-tight"
		shellClass="min-h-dvh flex flex-col pt-8 pb-6 px-2 md:px-8 md:pt-8 md:pb-8 bg-[var(--app-bg)] text-[var(--app-text)]"
		mainClass="flex-1 max-w-[var(--layout-main-max)] mx-auto w-full flex flex-col"
		showFooter
	>
		<section class="flex flex-1 flex-col justify-center pb-[10dvh]">
			<div class="pl-3 pb-2 space-y-5">
				<div class="prose max-w-none">
					<Content />
				</div>
			</div>
		</section>
	</BaseBody>
</html>
