---
import { SITE_DESCRIPTION } from "../consts";
const navLinks = [{ href: "/", label: SITE_DESCRIPTION }];

const baseClass =
	"flex items-center relative py-1 px-2 m-1 transition-all hover:text-neutral-800 dark:hover:text-neutral-200";
---

<header class="lg:top-2">
  <nav
    id="nav"
    class="flex flex-row items-start relative px-0 pb-0 fade md:overflow-auto scroll-pr-6 md:relative"
  >
    <div class="flex flex-row space-x-0 text-2xl">
      {navLinks.map(link => (
        <a href={link.href} class={baseClass}>{link.label}</a>
      ))}
    </div>
  </nav>
</header>
